<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>
  <title>Lunch Check</title>
  <style>
    .green {
      color: green;
      border-color: green;
    }
    .red {
      color: red;
      border-color: red;
    }
  </style>
</head>
<body>
  <div ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>
    <input type="text" ng-model="lunchItems" placeholder="List comma-separated items you usually eat for lunch" ng-class="messageClass">
    <button ng-click="checkIfTooMuch()">Check If Too Much</button>
    <p ng-class="messageClass">{{ message }}</p>
  </div>

  <!-- Include AngularJS library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>

